---
import { SITE_DESCRIPTION, SITE_TITLE } from "@consts";
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="mx-auto max-w-screen-md px-5">
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        unknown
      </div>
    </div>
  </div>
</PageLayout>
