---
import Layout from "../layouts/BlogPost.astro";
---

<style>
  video {
    aspect-ratio: 4 / 3;
    width: fit-content;
    border-radius: 0.5rem;
    overflow: hidden;
    object-fit: cover;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    outline: 0.5rem solid black;
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    background-color: black;
    margin: 0 auto;
    position: relative;
  }

  figure {
    margin: 2rem auto;
    display: grid;
    place-items: center;
  }
</style>
<Layout
  title="About Me"
  description="ë‚˜ëŠ” ëˆ„êµ¬ì¸ê°€?"
  pubDate={new Date("January 14 2024")}
>
  <figure>
    <video
      autoplay
      loop
      muted
      playsinline
      disablepictureinpicture
      oncontextmenu="return false;"
    >
      <source src="/video/about.mp4" type="video/mp4" />
      <div>hello world</div>
    </video>
    <figcaption>My footage from 2024, shot on super8 film</figcaption>
  </figure>
  <h1>
    Hi! ðŸ‘‹<br /> My name is YongSeok Jang <br /> and I am a frontend engineer.
    <br />
    <br />
    Based in Seoul, South Korea. ðŸ‡°ðŸ‡·
  </h1>
</Layout>
