---
import SolarSystem from "@components/animation/three/SolarSystem/SolarSystem";
import BaseHead from "../components/BaseHead.astro";
import { HomeCoverElement } from "../components/lit/asciiScreen/home-cover-element";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import PageLayout from "@layouts/PageLayout.astro";
---

<!doctype html>
<html lang="ko">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-5MPJHHS7"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <!-- <Header title={SITE_TITLE} /> -->
    <PageLayout title={"About Me"} description={"나는 누구인가?"}>
      <div class="mx-auto animate-expand px-8 max-sm:px-4 max-sm:-mt-8">
        <!-- <SolarSystem client:only="react" /> -->
        <HomeCoverElement client:only="lit" />
      </div>
    </PageLayout>
  </body>
</html>
