---
import Layout from "../layouts/Layout.astro";
const posts = await Astro.glob("../pages/post/*.mdx");
---

<Layout title="용석 블로그">
  <main>
    <div class="post__container">
      {
        posts.map((post) => (
          <a href={post.url}>
            <li class="post_item">
              <span class="title">{post.frontmatter.title}</span>
              <div class="date">{post.frontmatter.date}</div>
            </li>
          </a>
        ))
      }
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 1000px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .post__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  a {
    color: black;
    text-decoration: none;
  }

  li.post_item {
    list-style: none;
    font-weight: 800;
    padding: 8px;
    line-height: 24px;
    font-size: 16px;
    display: flex;

    .title {
      border-top: 3px solid white;
      padding-top: 2px;
    }
    .symbol_container {
      display: flex;
      gap: 8px;
    }

    /* .symbol {
      background-color: #fccc0a;
      aspect-ratio: 1 /1;
      width: 24px;
      height: 24px;
      text-align: center;
      line-height: 24px;
      font-size: 16px;
      border-radius: 50%;
      color: black;

      + .S {
        background-color: #0039a6;
        color: white;
      }
    } */

    .date {
      margin-left: auto;
      line-height: 24px;
      text-align: right;
    }
  }

  li.post_item a {
  }
</style>
