---
import Container from "./Container.astro";
import Link from "./Link.astro";
import HeaderClock from "./widget/HeaderClock";

import { DEFAULT_LOCALE } from "@consts";
import { useTranslations } from "@i18n/utils";

const currentLocale = Astro.currentLocale || DEFAULT_LOCALE;
const t = useTranslations(currentLocale as any);
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <div class="font-semibold">{t("page.title")}</div>
      </Link>
      <nav class="flex gap-1">
        <HeaderClock client:only="react" />
        <span>
          {`/`}
        </span>
        <Link href={t("path.blog")}> blog </Link>
        <span>
          {`/`}
        </span>
        <Link href="/unknown"> unknown </Link>
        <span>
          {`/`}
        </span>
        <Link href="/about"> about </Link>
      </nav>
    </div>
  </Container>
</header>
