---
import FormattedDate from "./FormattedDate.astro";

const { question } = Astro.props;
---

<style>
  li {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    list-style: square;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  .title {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  .description {
    font-size: 1rem;
    color: var(--color-text-secondary);
  }
  .tag {
    padding: 0.125rem 0.5rem;
    border-radius: 1rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    display: inline-block;
    white-space: nowrap;
  }
  .tag.green {
    background-color: var(--tag-background-green);
    color: var(--tag-color-green);
  }
  .tag.blue {
    background-color: var(--tag-background-blue);
    color: var(--tag-color-blue);
  }
  .date {
    margin-left: auto;
  }

  @media (max-width: 720px) {
    .tag {
      font-size: 0.6rem;
      padding: 0.05rem 0.5rem;
      border-radius: 1rem;
    }
    .description {
      font-size: 0.8rem;
    }
    .date {
      font-size: 0.8rem;
    }
  }
</style>
<li>
  <div class="content">
    <div class="title">
      <span>{question.data.title}</span>
      <div class:list={["tag", question.data.isSolved ? "green" : "blue"]}>
        {question.data.isSolved ? "Solved" : "Not Solved"}
      </div>
    </div>
    <p class="description">{question.data.description}</p>
  </div>
  <span class="date">
    <FormattedDate date={question.data.pubDate} />
  </span>
</li>
