.header__clock {
  font-family: 'JetBrains Mono', monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px calc(20px + 3.75px);
  box-sizing: border-box;
  font-size: 20px;
}