---
import { Gnb } from '../components/gnb-element';
// 1. frontmatter prop은 프론트매터 및 기타 데이터에 대한 접근을 제공합니다.
const { frontmatter } = Astro.props;
---

<html>
  <head>
    <meta charset="UTF-8" />

    <!-- 여기에 스타일 및 메타태그와 같은 다른 Head 요소들을 추가합니다. -->
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <Gnb />
    <!-- 여기에 일반 헤더 및 푸터와 같은 다른 UI 컴포넌트들을 추가합니다. -->
    <h1>{frontmatter.title} by {frontmatter.author}</h1>
    <!-- 2. 렌더링된 HTML은 기본 slot으로 전달됩니다. -->
    <slot />
    <p>Written on: {frontmatter.date}</p>
  </body>
</html>
