---
import Common from '../components/common/Common.astro';
import { Gnb } from '../components/gnb-element';
---

<!doctype html>
<html lang="en">
  <head>
    <Common />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <style is:global>
      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }
      html {
        font-family: system-ui, sans-serif;
        background-size: 224px;
      }
    </style>
    <slot name="header" />
  </head>
  <body>
    <Gnb />
    <slot />
  </body>
</html>
